nav {
  background-color: rgba(0, 0, 0, 0.076);
}

.striped {
  background-color: rgba(0, 0, 0, 0.076);
}

.scrollbar-hide {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
